@charset "utf-8";

body {
  margin: 0;
}

@mixin default() {
  height: 0;
  padding: 0;
  padding-left: 12px;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgb(144, 144, 144);
}
@mixin active() {
  height: auto;
  opacity: 1;
  transition: opacity 1s;
}

[data-accordion] {
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(188, 188, 188);
  &.active {
    [data-accordion] {
      [data-item] {
        @include active();
      }
      [data-btn] {
        @include active();
      }
      &.active {
        [data-btn] {
          @include active();
        }
        [data-accordion] {
          @include active();
          padding: 0;
          padding-left: 8px;
          [data-item] {
            @include active();
          }
        }
      }
    }
  }
  [data-btn] {
    padding: 8px 12px;
    height: auto;
  }
  [data-accordion] {
    overflow: visible;
    height: auto;
    [data-btn] {
      @include default();
    }
    [data-item] {
      @include default();
    }
    [data-accordion] {
      @include default();
    }
  }
}


